spring:
  datasource:
    url: jdbc:postgresql://dpg-d4jk4bmmcj7s73bk3ba0-a.oregon-postgres.render.com/word_service
    username: word_service_user
    password: 6kOLzxs8AG9Srco2gKsFlTPgdMKnv6Lj
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 600000
      max-lifetime: 1800000
      connection-timeout: 30000

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  rabbitmq:
    addresses: amqps://waebvucx:qWtlJy-9NgqOUuVmC8r29m4luRrwkXS_@seal.lmq.cloudamqp.com/waebvucx
    queue:
      tag:
        name: tag-ms.etiqueta.excluida.queue

  jackson:
    serialization:
      indent_output: false

server:
  port: ${PORT:8080}
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql.BasicBinder: WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

services:
  word:
    url: https://word-service-aw7r.onrender.com
  tag:
    url: https://tag-ms.onrender.com